{% import 'macros/form.html' as form %}

{#} KATHI - for format reasons appending form-control, however not for autocomplete fields {#}
{% if 'form_attrs' in field and not ('data-module' in field.form_attrs or field.form_attrs['data-module'] == 'autocomplete') %}
    {% do field.form_attrs.update({"class": "form-control"}) %}
{% endif %}

{% call form.input(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    classes=field.classes if 'classes' in field else ['control-medium'],
    attrs=field.form_attrs if 'form_attrs' in field else {"class": "form-control"},
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
